# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/
*.exe
*.dll
*.pdb

# Dotnet
*.lock.json
*.log
*.cache

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/
.node_modules/

# OS files
Thumbs.db
.DS_Store

node_modules/