@model Application.DTOs.DisplayDto

@{
    ViewBag.Title = "Экран ожидания";
    Layout = "_KioskLayout";
}


<div class="grid grid-cols-3 gap-8 p-10">
    <div class="col-span-2 bg-white rounded-3xl p-6 border shadow-sm flex flex-col gap-4">
        <h2 class="text-3xl font-bold">Обслуживаются</h2>
        <div id="active-list" class="grid grid-cols-2 gap-4">
            @await Html.PartialAsync("ActiveList", Model)
        </div>
    </div>
    
    <div class="bg-white rounded-3xl p-6 border shadow-sm flex flex-col gap-4 overflow-y-scroll">
        <h2 class="text-3xl font-bold">Очередь</h2>
        <div id="waiting-list" class="flex flex-col gap-4">
            @await Html.PartialAsync("WaitingList", Model)
        </div>
    </div>
</div>

<script src="~/lib/microsoft-signalr/signalr.min.js" asp-append-version="true"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/hubs/queue")
        .withAutomaticReconnect()
        .build();

    async function updateList(id, action) {
        const res = await fetch(action);
        document.getElementById(id).innerHTML = await res.text();
    }

    connection.on("NewTicket", () => {
        updateList("waiting-list", "@Url.Action("WaitingList", "Display")") 
    });
    connection.on("UpdateTicket", () => {
        updateList("waiting-list", "@Url.Action("WaitingList", "Display")") 
        updateList("active-list", "@Url.Action("ActiveList", "Display")") 
    });

    connection.start();
</script>


