@model Application.DTOs.DisplayDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Экран ожидания</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true"/>
</head>
<body class="min-h-screen bg-accent border-4 border-blue-500">
<div class="p-10 flex flex-col">
    <header class="flex items-start justify-between mb-8">
        <div>
            <h2 class="text-3xl font-extrabold mt-1 tracking-wide">Текущие вызовы</h2>
        </div>
    </header>

    <div id="active-list" class="grid grid-cols-2 gap-6">
        @await Html.PartialAsync("ActiveList", Model)
    </div>

    <div class="mt-12">
        <h3 class="text-4xl font-extrabold tracking-wide mb-6">Следующие</h3>

        <div id="waiting-list" class="flex flex-wrap gap-4">
            @await Html.PartialAsync("WaitingList", Model)
        </div>
    </div>
</div>

<script src="~/lib/microsoft-signalr/signalr.min.js" asp-append-version="true"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/hubs/queue")
        .withAutomaticReconnect()
        .build();

    async function updateList(id, action) {
        const res = await fetch(action);
        document.getElementById(id).innerHTML = await res.text();
    }

    connection.on("NewTicket", () => {
        updateList("waiting-list", "@Url.Action("WaitingList", "Display")") 
    });
    connection.on("UpdateTicket", () => {
        updateList("waiting-list", "@Url.Action("WaitingList", "Display")") 
        updateList("active-list", "@Url.Action("ActiveList", "Display")") 
    });

    connection.start();
</script>

</body>
</html>

