@model Application.DTOs.DisplayDto

@if (!Model.WaitingTickets.Any())
{
    <div class="text-2xl text-slate-500 py-4">Очередь пуста</div>
}
else
{
    @foreach (var t in Model.WaitingTickets)
    {
        <div class="bg-white px-10 rounded-xl py-5 text-4xl font-extrabold tabular-nums">
            @t.Number
        </div>
    }
}