@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
@source "../../Views/**/*.cshtml";

@theme {
    --color-primary: #1e8f5e;  
    --color-primary-hover: color-mix(in oklab, var(--color-primary) 100%, #000e04 17%);
    --color-primary-soft: color-mix(in oklab, var(--color-primary) 12%, white);
    --color-primary-deep: color-mix(in srgb, var(--color-primary) 100%, #15000a 100%);
    
    --color-secondary: #2c2b2a;  
    --color-tertiary: #F7EFE3;  
    --color-neutral: #64748b;  
    --color-surface: #F3F7F4;;

    --color-ink: #1A1916;
    --color-ink-2: #4A4736;
    --color-muted: #8B867A;
    --color-muted-2: #BFB9A8;
    --color-line: #D8E8DE;
    --color-line-2: #F0EBDD;
    --color-bg: #FBF8F1;
    
    --font-display: "Source Sans 3", sans-serif;
}