<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="bg-white border-b shadow-sm mb-3">
        <div class="max-w-full px-4 flex wrap items-center justify-between py-3">
            <a class="text-xl font-semibold whitespace-nowrap" asp-area="" asp-controller="Home" asp-action="Index">Web</a>
            <div class="hidden w-full sm:flex sm:items-center sm:w-auto grow">
                <ul class="flex flex-col mt-4 sm:flex-row sm:space-x-8 sm:mt-0 sm:ml-4 grow">
                    <li>
                        <a class="block py-2 pr-4 pl-3 text-gray-900 hover:text-blue-700 sm:p-0" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a class="block py-2 pr-4 pl-3 text-gray-900 hover:text-blue-700 sm:p-0" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-4">
        @RenderBody()
    </main>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>