@using System.Globalization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true"/>
</head>
<body class="flex flex-col min-h-screen bg-accent">
<header>
    <nav class="border-b">
        <div class="max-w-full px-4 flex wrap items-center justify-between py-8">
            <a class="text-2xl font-semibold whitespace-nowrap" asp-area="" asp-controller="Home" asp-action="Index">ОЧЕРЕДЬ</a>
            <div class="text-muted-foreground text-lg">
                @DateOnly.FromDateTime(DateTime.Now).ToString("D", new CultureInfo("ru-RU"))
            </div>
        </div>
    </nav>
</header>

<main role="main" class="container mx-auto flex grow justify-center pt-12 ">
    @RenderBody()
</main>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>