@using System.Globalization
@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/userlist.css" asp-append-version="true" />

</head>
<body class="flex flex-col min-h-screen bg-accent">
    <header>
        <nav class="border-b">
            <div class="max-w-full px-4 flex wrap items-center justify-between py-8">
                @{
					string homeUrl = Url.Action("Index", "Home");

                    if (User.Identity.IsAuthenticated) {
						if (User.IsInRole("admin"))
						{
							homeUrl = Url.Action("Index", "Admin");
						}
						else if (User.IsInRole("operator"))
						{
							homeUrl = Url.Action("Index", "Operator");
						}
                    }
                }

            <a class="text-2xl font-semibold whitespace-nowrap" href="@homeUrl">Главная</a>
            <div>
                    @{

                        if (User.Identity.IsAuthenticated)
                        {
                            <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                                <button type="submit" class="nav-link btn btn-link text-dark">Выйти</button>
                            </form>
                        }
                        else
                        {
                            <div class="navbar-not-sign-in">
                                <a asp-controller="Account" asp-action="Login">Войти</a>
                            </div>
                        }
                    }
            </div>
        </div>
    </nav>
</header>

<main role="main" class="container mx-auto flex grow justify-center pt-12 ">
    @RenderBody()
</main>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>