@model Application.DTOs.SettingsDto

@{
    ViewBag.Title = "title";
    Layout = "_KioskLayout";
}

<div class="container mx-auto flex grow justify-center pt-10">
    <div class="flex flex-col gap-12 items-center">
        <div class="text-center">
            <h1 class="text-3xl tracking-wide uppercase font-bold">Добро пожаловать</h1>
            <p class="mt-2 tracking-wide text-lg text-dark">Нажмите кнопку, чтобы получить талон</p>
        </div>
        
        <form asp-controller="Service" asp-action="GetTicket" asp-route-letter="@Model.Value" method="post">
            <button type="submit" class="bg-white rounded-3xl p-6 border shadow-sm flex gap-5 cursor-pointer">
                <div class="w-18 h-18 bg-primary/10 rounded-2xl flex items-center justify-center">
                    <img src="~/icons/Ticket.svg" alt="" width="36" height="36"/>
                </div>
                <div class="flex flex-col gap-2">
                    <h3 class="text-2xl font-bold text-secondary tracking-wide">Получить талон</h3>
                    <div class="flex items-center gap-2">
                        <span class="tracking-wider">Ожидание:</span> 
                        <div class="bg-primary/10 w-fit py-1 px-2 font-normal rounded-full text-sm flex gap-1 items-center">
                            <img src="~/icons/Clock2.svg" alt="Билет" width="12" height="12"/>
                            8 мин
                        </div>
                    </div>
                </div>
            </button>
        </form>
    </div>
</div>
