@model Application.DTOs.TicketDto

@{
    ViewBag.Title = "Сервисы";
    Layout = "_KioskLayout";

    Dictionary<string, string> status = new Dictionary<string, string> { { "Waiting", "Ожидание" }, { "Processing", "Обслуживается" }, { "Completed", "Завершён" }, { "Cancelled", "Отменён" } };
}

<div class="container mx-auto flex grow justify-center pt-10">
    <div class="flex flex-col items-center gap-8">
        <div class="text-center">
            <h1 class="text-3xl tracking-wide uppercase font-bold">Ваш талон</h1>
            <p class="mt-2 tracking-wide text-lg text-muted">Запомните номер и ожидайте вызова</p>
        </div>
        
        <div class="flex h-fit flex-col items-center gap-8 w-full bg-white rounded-2xl py-12 px-6 border border-line text-center">
            <div class="flex flex-col items-center gap-2 bg-primary-soft rounded-2xl w-full py-10 border border-primary">
                <span class="text-muted-foreground text-xl font-medium">Номер талона</span>
                <span class="text-7xl font-extrabold tracking-tight">@Model.Number</span>
            </div>
            <div class="flex justify-between w-full text-lg">
                <span>Статус: <span class="font-semibold text-muted">@status[@Model.Status]</span></span>
                <span id="date">@Model.CreatedAt?.ToLocalTime().ToString("HH:mm")</span>
            </div>
        </div>
        <a class="text-primary bg-white font-semibold text-xl rounded-xl py-4 px-6 border" asp-area="" asp-controller="Service" asp-action="Index">Вернуться на главную</a>
    </div>
</div>

<script>
    setTimeout(() => {
        window.location.replace("https://localhost:7233/Service");
    }, 5000)
</script>
