@model List<Application.DTOs.ServiceDto>
<a asp-controller="Admin" asp-action="WindowsList">Окна</a>

<h2>Список услуг</h2>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Буква</th>
            <th>Описание</th>
            <th>Иконка</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.Name</td>
                <td>@service.Letter</td>
                <td>@service.Description</td>
                <td>@service.IconName</td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Admin" asp-action="AddService"> Добавить</a>
<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #f2f2f2;
        }

        .table tr:hover {
            background-color: #f5f5f5;
        }
</style>